header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5rem;
    height: 100vh;

}
.header-img{
    width: 100%;
    align-self: center;

}
.header-content{
    display: flex;
    flex-direction: column;
}
.content-main{
    height: max-content;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;

}
.content-main h1{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 2rem;

}
.content-main button{
    height: max-content;
    background-color: black;
    color: #fff;
    width:340px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    cursor:pointer;
    margin-top: 8rem;
}
.content-main p{
    font-weight: 500;
}
@media (max-width: 768px){
    .contain-main h1{
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .contain-main p{
        font-size:0.8rem;
    }
    .contain-main button{
        font-size: 0.8rem;
        width: 150px;
        padding:0.5rem 1rem;
        margin-top: 1.5rem;

    }

}
    
